.head { 
	color: #D9D9D9;
	font-size: 15px;
	font-family:  Arial;
	margin-left: 410px;
	position: relative;
	bottom: 50px;
}
header {
	width: 100%;
	background-color: #F5F5F5;
}
.logoWeb {
	float: left;
	margin-bottom: -15px;
}
.MovieInfo {
	width: 100%;
	background-image: url("../img/banner.jpg");
	position-size: 300px;
	height: 615px;
	background-position: -10px -50px;
}
.iconoMovie {
	position: relative;
	top: 270px;
	left: 140px;
}
.icono {
	width: 90px;
	height: 95px;
}
.BigHero6Info {
	background-color: #434343;
	height: 615px;
	width: 427px;
	position: relative;
	left: 764.5px;
	top: -99px;
	padding-top: 20px; 
}
h1 {
	font-size: 50px;
	font-family: Arial;
	color: #D3D3D3;
	margin-left: 15px;
}
.separatorDiv {
	width: 300px;
	border: 1px solid #6C6C6C;
	margin-top: 11px;
	margin-bottom: 15px;
	margin-left: 15px;
}
.AllAge-div {
	border-radius: 5px;
	border: solid #3BCF68 2px;
	text-align: center;
	font-size: 12px;
	font-family: Arial;
	color: #3BCF68;
	padding: 2px;
	width: 60px;
	height: 30px;
	padding-top: 5px;
}
.directorsName-div {
	color: #D3D3B5;
	font-size: 10px;
	text-align: center;
    font-family: Arial;
    margin-top: -20px;
    margin-left: -170px;
    margin-bottom: 20px;
}
.dataMovie {
	color: #D3D3B5;
	font-family: Arial;
	font-size: 14px;
}
.data {
	color: #D3D3B5;
	font-family: Arial;
	font-size: 13px;
	position: relative;
	left: 120px;
	bottom: 92px;
}
.info {
	color: #D3D3B5;
	font-family: Arial;
	font-size: 13px;
	width: 370px;
	position: relative;
	bottom: 90px;
}
.trailerButton {
	background-color: #DFB636;
	width: 200px;
	height: 50px;
	text-align: center;
	color: white;
	font-size: 27px;
	border-radius: 5px;
	margin: 5px;
	padding-top: 17px;
	position: relative;
	bottom: 80px;
	left: -5px;	
}
.ticketButton {
	background-color: #BB7B29;
	width: 200px;
	height: 50px;
	text-align: left;
	color: white;
	font-size: 27px;
	border-radius: 5px;
	margin: 5px;
	padding-top: 17px;
	position: relative;
	bottom: 10px;
	left: -218px;	
	padding-left: 23px;
}
.otherMovies {
	background-color: #DFB636;
	width: 100%;
}
.col-2 img {
	width: 140px;
	height: 180px;
	display: inline-block;
	margin-top: 23px;
	margin-bottom: 23px;
}
.dontb-late {
	color: #D1D1D1;
	font-size: 15px;
	font-family: Arial;
	margin-top: 40px;
	margin-bottom: 20px;
}
.bk-urticket {
	color: #080808;
	font-size: 30px;
	font-family: Arial;
	margin-bottom: 15px;
}
.easy {
	color: #D5D3D1;
	font-size: 20px;
	font-family: Arial;
	margin-bottom: 15px;
}
.ticketButton2 {
	background-color: #BB7B29;
	width: 200px;
	height: 50px;
	color: white;
	font-size: 27px;
	border-radius: 5px;
	margin: 5px;
	padding-top: 17px;
	padding-left: 23px;
	margin-bottom: 15px;
}
.porcentaje {
	color: #C9985D;
	font-size: 10px;
	font-family: Arial;	
	margin-bottom: 50px;
}
.news {
	color: #D1D1D1;
	font-family: Arial;
	margin-top: 40px;
	margin-bottom: 20px;
}
p {
	color: #D1D1D1;
	font-family: Arial;
	font-size: 9px;
}
.divisionLines {
	border-bottom: solid #D1D1D1 1px;
	border-top: solid #D1D1D1 1px; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.more {
	color: #EBD38C;
	font-family: Arial;
	font-size: 10px;
}
.lastImgRow img{
	width: 220px;
	height: 210px; 
}
footer {
	background-color: #F3F3F3;
	width: 100%;
}
h5 {
	color: #CBCBCB;
	font-family: Arial;
	font-size:10px;
}
h6 {
	color: #CBCBCB;
	font-family: Arial;
	font-size: 8px;
}
.disclaimer {
	margin-top: 20px;
	margin-bottom: 20px;
}
.webs {
	margin-bottom: 20px;
	margin-top: 20px;
}